.card {
  width: 40px;
  height: 40px;
  background-color: rgb(0, 128, 113);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  transition: background-color ease-in-out 300ms;
}

.card:hover {
  background-color: rgb(3, 105, 93);
}
