.card {
  width: 5.2rem;
  height: 5.2rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  color: #fff;
  transition: background-color ease-in-out 300ms;
}

.cardActivate {
  background-color: var(--primary-color);
}

.card:hover {
  background-color: var(--primary-color-hover);
}
