:root {
  --bg-primary: #021226;
  --text-primary: #f5f5f5;

  --primary-color: #007d68;
  --primary-color-hover: #026554;

  --success-color: rgb(0, 191, 108);
  --error-color: rgb(204, 15, 15);
  --warning-color: #dda20c;
  --info-color: #126ac2;

  --text-opacity: #b3b3b3;
  --color-disabled: #706e6e;
}
